<h1>Editing restaurant</h1>

<%= render "form", restaurant: @restaurant %>

<br>

<div>
 <p><%= link_to "Show this restaurant", @restaurant %> </p>
  <p><%= link_to "Back to restaurants", restaurants_path %></p>
</div>
